{
    "azure": {
        "region": "",
        "speech_key": ""
    },
    "elevenlabs": {
        "api_key": "",
        "cloned_voice": "",
        "model": "",
        "voice": ""
    },
    "setting": {
        "input_device": "",
        "input_language": "",
        "output_device": "",
        "target_language": "",
        "voice_quality": ""
    }
}